<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>成绩单打印</title>
  <link href="/css/admin/score.css" rel="stylesheet" type="text/css">
  <link href="/css/admin/score.css" rel="stylesheet" type="text/css" media="print">
</head>
<body>
<div class="sc-content">
  <h1>机务维修系统放行考试成绩单</h1>

  <h1>Maintenance Organization Aircraft Release Examination Report</h1>
  <hr/>

  <p>身份证号码：<%= @score.user.card_no %></p>

  <p><%= @score.user.name %> </p>

  <p>经<%= @examine_profile_hash['examine_date'] %>维修人员放行考试</p>

  <p><%= @examine_profile_hash['air_type'] %>机型系列</p>

  <p>安全题成绩为：</p>

  <p><span><%= @score.totle_score %></span> 分</p>

  <p>总成绩为：</p>

  <p><span><%= @score.all_score %></span> 分</p>

  <p>
    <span>
      <%= @score.status %>
    </span>
  </p>
  <!--<p>颁发单位：川航机务工程部质控部</p>-->
  <!--<p>颁发日期：</p>-->
</div>
</body>
</html>