<style type="text/css">
    #demo2 {
        POSITION: fixed;
        TOP: 156px;
        RIGHT: 10px;
    }

    #demo1 {
        POSITION: relative;
        MARGIN-TOP: -290px;
        RIGHT: 10px
    }
</style>

<div id="demo2" class="demo" style="font-size:16px;font-weight:bold;padding:20px;background-color:#cdcdcd;"></div>
<input type="hidden" value="30" id="time">
<form method="post" id="form1" action="/examine">
  <% i=0 %>
  <% @safe_subjects.each do |subject| %>
      <div class="h_a">
        <%= i+=1 %>.(安全题)<%= subject.title %>
        <input type="hidden" name="no[]" value="<%= subject.id %>">
      </div>
      <ul class="cross">
        <% subject.answers.shuffle.each_with_index do |answer, i| %>
            <li class="f14">
              <input type="radio" name="<%= subject.id %>" value="<%= answer.id %>">
              <%= (i + 65).chr %>、<%= answer.content %>
            </li>
        <% end %>
      </ul>
  <% end %>
  <% @else_subjects.shuffle.each do |subject| %>
      <div class="h_a">
        <%= i+=1 %>.<%= subject.title %>
        <input type="hidden" name="no[]" value="<%= subject.id %>">
      </div>
      <ul class="cross">
        <% subject.answers.shuffle.each_with_index do |answer, i| %>
            <li class="f14">
              <input type="radio" name="<%= subject.id %>" value="<%= answer.id %>">
              <%= (i + 65).chr %>、<%= answer.content %>
            </li>
        <% end %>
      </ul>
  <% end %>
  <div class="p10"></div>
  <div class="cc">
    <div class="btn_wrap_pd">
      <button class="btn btn_submit" id="btn" type="button">保存</button>
    </div>
  </div>
</form>
<SCRIPT language='javascript' type='text/javascript'>
    function check_subject() {
        var ret = true;
        $('.cross').each(function () {
            if (typeof $(this).find('input:radio:checked').val() == 'undefined') {
                ret = false;
                return false;
            }
        })
        return ret;
    }

    $(function () {
        $.messager.defaults = { ok: "是", cancel: "否" };
        $('#btn').click(function () {
            if (!check_subject()) {
                $.messager.confirm("确认提交", "请仔细检查，您还有未完成的试题，请确认是否提交?", function (data) {
                    if (data) {
                        $('#form1')[0].submit();
                    }
                });
            } else {
                $('#form1')[0].submit();
            }
        });
    });
</SCRIPT>

<script type="text/javascript">
    var SysSecond;
    var InterValObj;

    $(document).ready(function () {
        SysSecond = parseInt($('#time').val()) * 60; //这里获取倒计时的起始时间
        InterValObj = window.setInterval(SetRemainTime, 1000); //间隔函数，1秒执行
    });

    //将时间减去1秒，计算天、时、分、秒
    function SetRemainTime() {
        if (SysSecond > 0) {
            SysSecond = SysSecond - 1;
            var second = Math.floor(SysSecond % 60);             // 计算秒
            var minite = Math.floor((SysSecond / 60) % 60);      //计算分
            var hour = Math.floor((SysSecond / 3600) % 24);      //计算小时
            //var day = Math.floor((SysSecond / 3600) / 24);        //计算天
            $("#demo2").html(hour + "小时" + minite + "分" + second + "秒");
        } else {//剩余时间小于或等于0的时候，就停止间隔函数
            window.clearInterval(InterValObj);
            //这里可以添加倒计时时间为0后需要执行的事件
            $('#form1')[0].submit();
        }
    }
</script>
